# RapidAPI Key for JSearch
RAPIDAPI_KEY="41a049b424mshf21054d61123154p1440c0jsnbf5b27a8411f"

# Adzuna App Credentials
ADZUNA_APP_ID="f266c3fa"
ADZUNA_APP_KEY="76b85cb7bd4ad52e2ef4eaef72021150"

# Optional: Comma-separated country codes for Adzuna (e.g., us,gb,in)
ADZUNA_COUNTRIES="us,gb,in,ca,au"
